
.content{
  width: 100%; 
  height: fit-content;
  background-color: rgb(227, 239, 250);
}

.main-logo{
  width: 200px; 
  height: 30px; 
  margin: auto;
  padding-top: 250px;
  background: url(../images/logo.png) no-repeat center 60%;
}
.main-logo h1{display: none;}

.tab-cont{
  width: 50%;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}
.tab img{
  width: 50px;
}
.tab h2{
  padding:10px;
  border-radius: 15px;
  font-size: 18px;
}
.tab.blue > h2{
  background-color: rgb(75, 123, 255);
  color: aliceblue;
}
.tab.yellow > h2{
  background-color: rgb(250, 250, 110);

}
.tab.pink > h2{
  background-color: rgb(253, 144, 162);
  color: red;
}

.menu-cont{
  width: 50%;
  margin: auto;
  padding: 20px 0;
}
.menu-cont .menu{
  width: 100%;
  background: #ffffff;
  margin-bottom: 20px;
  border-radius: 5px;
}
.menu p{
  padding: 20px 120px;
  font-size: 16px;
}
.menu.menu01{
  background: url(../images/blue_p.png) no-repeat 5% center #ffffff;
  background-size: 50px;
}
.menu.menu02{
  background: url(../images/blue_s.png) no-repeat 5% center #ffffff;
  background-size: 50px;
}
.menu.menu03{
  background: url(../images/blue_t.png) no-repeat 5% center #ffffff;
  background-size: 50px;
}
.menu.menu04{
  background: url(../images/pink_p.png) no-repeat 5% center #ffffff;
  background-size: 50px;
}
.menu.menu05{
  background: url(../images/pink_s.png) no-repeat 5% center #ffffff;
  background-size: 50px;
}
.menu.menu06{
  background: url(../images/pink_t.png) no-repeat 5% center #ffffff;
  background-size: 50px;
}
.menu.menu07{
  background: url(../images/yellow_p.png) no-repeat 5% center #ffffff;
  background-size: 50px;
}
.menu.menu08{
  background: url(../images/yellow_s.png) no-repeat 5% center #ffffff;
  background-size: 50px;
}
.menu.menu09{
  background: url(../images/yellow_t.png) no-repeat 5% center #ffffff;
  background-size: 50px;
}
